<mat-card>
  <mat-card-header>
    <mat-card-title>Registration</mat-card-title>
    <mat-card-subtitle>
      <p class="page-dir"> <i class="material-icons">home</i>Home / Registration</p>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Address"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender">
      <mat-option value="option">male</mat-option>
      <mat-option value="option">female</mat-option>
    </mat-select>
  </mat-form-field>
</div>