
<mat-card>
  <mat-card-header>
    <mat-card-title>Online Donor Payment Details</mat-card-title>
    <mat-card-subtitle>
      <p class="page-dir"> <i class="material-icons">home</i>Home / Online Donor Payment Details</p>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>